
<div class="container col-md-12">
  <h1> {{title}}</h1>
  <hr>

  <div class="col-md-6">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Variable</th>
        <th scope="col">Pipe</th>
        <th scope="col">Producto</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{nombre}}</td>
        <td>uppercase</td>
        <td>{{nombre | uppercase}}</td>
      </tr>

      <tr>
        <td>{{nombre}}</td>
        <td>lowercase</td>
        <td>{{nombre | lowercase}}</td>
      </tr>

      <tr>
        <td>{{nombre}}</td>
        <td>slice:3</td>
        <td>{{nombre | slice:3}}</td>
      </tr>
      <tr>
        <td>{{nombre}}</td>
        <td>slice:0:3</td>
        <td>{{nombre | slice:0:3}}</td>
      </tr>


      <tr>
        <td>{{numero}}</td>
        <td>number</td>
        <td>{{numero | number:'3.2-2'}}</td>
      </tr>

      </tbody>
    </table>
  </div>
  <h3>Slice</h3>
  <ul *ngFor="let item of arreglo  | slice:0:5">
    <li>{{item}}</li>
  </ul>

</div>
